header{
    background-color: black;

}
.klasa1{
    background-color: khaki;
}
.klasa2{
    background-color: lawngreen;
}
#nav{
    background-color: darkorchid;
}
.asside{
    background-color: darkolivegreen;
}

footer{
    background-color: teal;
}
