* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    font-size: 1vw;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
}


/* Sidebar dostosowany do wysokości i szerokości ekranu */
.sidebar {
    left: 0;
    top: 0;
    position: fixed;
    flex-wrap: wrap;
    width: 8vw;
    min-width: 8vw;
    background-color: #4a2c2c;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin: 2vh 0;
}

.icon img {
    width: 5vw;
    height: auto;
    cursor: pointer;
}